<section id="pg-nossa-historia" class="scroll-secao">
    <div class="container">
        <div class="left">
            <div class="intro">
                <h1>A FMC</h1>
                <p>
                    A FMC é uma empresa especializada na recuperação de crédito e cobrança, <br>
                    além de outros serviços como locação de posições de atendimento e soluções <br>
                    em Datacenter. Inaugurada em 1986 em Hollywood (Flórida, EUA), a companhia <br>
                    veio para o Brasil em 1995 e hoje conta com unidades em São Paulo-SP e <br>
                    Uberlândia-MG. <br>
                    Temos know-how para oferecer as melhores soluções disponíveis em tecnologia <br>
                    com inovação e competência, considerando cuidadosamente as necessidades <br>
                    específicas de cada negócio. Desta forma, contribuímos para o crescimento <br>
                    sustentável de nossos clientes e construímos relacionamentos duradouros.
                </p>
            </div> <!-- intro -->
            <ul class="timeline">
                <li>
                    <h2 class="active"><span></span>1986</h2>
                    <p class="active">
                        A FMC foi inaugurada em Hollywood (Flórida, EUA). Atendendo a carteiras de unidades de saúde, chegamos a administrar a maior rede de hospitais dos EUA.
                        Também trabalhamos com carteiras de bancos e, em 1998, nos consolidamos entre as 10 primeiras agências de cobrança em termos de resultados dentre
                        as mais de 6000 prestadoras de serviços similares nos EUA.
                    </p>
                </li> <!-- 1986 -->
                <li>
                    <h2><span></span>1995</h2>
                    <p class="texto">
                        A convite de nosso principal cliente e utilizando seu espaço físico, a FMC foi inaugurada no Brasil.
                    </p>
                </li> <!-- 1995 -->
                <li>
                    <h2><span></span>1996</h2>
                    <p>
                        Com o projeto piloto aprovado e a parceria de sucesso que apenas começava, inauguramos nosso próprio espaço no centro empresarial de São Paulo-SP.
                    </p>
                </li> <!-- 1996 -->
                <li>
                    <h2><span></span>1999</h2>
                    <p>
                        Nosso principal cliente mudou-se para Uberlândia-MG. A partir de então, começamos a estudar o mercado e conhecer melhor a cidade, onde atualmente temos o mais moderno Contact Center do Brasil.
                    </p>
                </li> <!-- 1999 -->
                <li>
                    <h2><span></span>2002</h2>
                    <p>
                        Na Unidade de São Paulo, começamos a trabalhar com gestão de carteiras compradas por diversos clientes, além de fecharmos contrato com empresas como BPN Brasil, CETELEM, Credicard Citi e TELECHEQUE.
                    </p>
                </li> <!-- 2002 -->
                <li>
                    <h2><span></span>2004</h2>
                    <p>
                        Foi inaugurada nossa filial em Uberlândia-MG. Situada no Edifício Uberlândia 2000, a unidade contava com apenas 10 funcionários e atendia as carteiras do Hipermercado Carrefour e da escola de inglês Wise Up.
                    </p>
                </li> <!-- 2004 -->
                <li>
                    <h2><span></span>2005</h2>
                    <p>
                        A FMC Uberlândia mudou-se para o estabelecimento Ubershopping. A unidade realizava as cobranças dos clientes BPN Brasil, Capital Financeira, Credicard Citi e também de carteiras próprias compradas por nós.
                    </p>
                </li> <!-- 2005 -->
                <li>
                    <h2><span></span>2008</h2>
                    <p>
                        Com o crescimento ascendente da empresa e o fechamento de novos contratos, se fez necessária a mudança da filial de Uberlândia para a Rua Quintino Bocaiúva, com 30 posições de atendimento (PAs).
                    </p>
                </li> <!-- 2008 -->
                <li>
                    <h2><span></span>2010</h2>
                    <p>
                        A matriz da FMC em São Paulo recebeu uma reforma geral e passou de 60 para 350 posições de atendimento. Com a ampliação da operação e maior demanda de nosso principal cliente,
                        também tivemos a necessidade de aumentar o número de posições de atendimento em Uberlândia-MG. Passamos a utilizar simultaneamente 90 PAs do espaço da Callink, situado no Center Shopping.
                    </p>
                </li> <!-- 2010 -->
                <li>
                    <h2><span></span>2011</h2>
                    <p>
                        Com o fechamento de novos contratos e perspectivas de prestação de serviços em outros ramos, iniciamos a construção da nova sede da FMC em Uberlândia.
                    </p>
                </li> <!-- 2011 -->
                <li>
                    <h2><span></span>2012</h2>
                    <p>
                        Foi inaugurada a sede própria da FMC em Uberlândia, com capacidade de 810 posições de atendimento e prestação de serviços como recuperação de crédito e cobrança, locação de PAs e soluções em Data Center.
                    </p>
                </li> <!-- 2012 -->
                <li>
                    <h2><span></span>2013</h2>
                    <p>
                        Com a expansão de nossos negócios, foi criada a FMC Datacom para dar início às prestações de serviços de hospedagem e soluções singulares em Data Center com acessibilidade. <br><br>
                        Conquistamos novos clientes em outros ramos de atuação, sendo um deles o de locação de posição de atendimento em nossa sede e nossa filial. A sede em São Paulo teve o aumento de PAs para 489.
                    </p>
                </li> <!-- 2013 -->
                <li>
                    <h2><span></span>2014</h2>
                    <p>
                        Conquistamos novos clientes no serviço de locação de posições de atendimento em Uberlândia, como Algar Tech, FIS e GENPACT. As três empresas parceiras de vendas de sistema de
                        Gestão ERP juntas utilizam mais de 300 PA’s, em que contabilizamos mais de 70 empresas hospedadas, sendo mais de 550 usuários simultâneos ativos.
                    </p>
                </li> <!-- 2014 -->
                <li>
                    <h2><span></span>2015</h2>
                    <p>Foi inaugurada a FMC Recuperación, no México. No Brasil, inauguramos uma operação de serviço de Televendas.</p>
                </li> <!-- 2015 -->
            </ul> <!-- timeline -->
        </div> <!-- left -->
        <div class="right">
            <div class="box">
                <h2>Missão</h2>
                <p>
                    Ser responsável pela rentabilização da gestão de <br>
                    operações financeiras e infraestrutura de nossos <br>
                    clientes, com solidez e aprimoramento <br>
                    constante, assegurando a satisfação e <br>
                    prosperidade de todos.
                </p>
            </div> <!-- box # missao -->
            <div class="box">
                <h2>Visão</h2>
                <p>
                    Ser a primeira escolha no mercado <br>
                    em que atuamos.
                </p>
            </div> <!-- box # visao -->
            <div class="box">
                <h2>Valores</h2>
                <p>
                    Cliente, nossa razão de ser <br>
                    Atuação com integridade <br>
                    Valorização das pessoas <br>
                    Excelência operacional e na qualidade do serviço <br>
                    Ambiente organizacional saudável  <br>
                    Inovação constante <br>
                    Rentabilidade sustentável
                </p>
            </div> <!-- box # valores -->
            <div class="box">
                <h2>
                    Posicionamento <br>
                    estratégico da empresa
                </h2>
                <p>Excelência operacional</p>
            </div> <!-- box # posicionamento -->
        </div> <!-- right -->
        <div class="clearfix"></div>
    </div> <!-- container -->
</section> <!-- pg contato -->