<section class="central-de-cobranca container">

    <h1>
        Qualquer dúvida, você pode entrar em contato com nossa <br>
        central de cobrança pelos telefones:
    </h1>

    <ul>
        <li>
            <h2>Cartões</h2>
            <span></span>
            <div class="telefones">
                <p>
                    0800 773 6660 <br>
                    4090-1730 <br>
                </p>
            </div> <!-- telefones -->
        </li>

    </ul>

</section> <!-- central de cobranca -->
