<section class="central-de-cobranca container">

    <h1>
        Qualquer dúvida, você pode entrar em contato com nossa <br>
        central de cobrança pelos telefones:
        <br />
        <br />
        <b>4003 4031</b>(Capitais e Regiões Metropolitanas) <br />
        <b>0800 880 4031</b>(demais regiões) <br />
        <br />
        Ou pelo e-mail: cobranca@credz.com.br 
              
    </h1>
</section> <!-- central de cobranca -->
