@using Microsoft.AspNetCore.Http
@{
    var portal = Context.Session.GetString("portal");
    var bradescoUberlandia = Context.Session.GetString("BradescoUberlandia");

    var url = Context.Request.Host;
    string host = url.Host;
}
<section id="pg-renegociar-pelo-whatsapp" class="scroll-secao">
    <div class="container">
        <div class="box-whatsapp bradescard">
            <h2>Cartões</h2>
            <img src="/images/topo/logo-FIS-verde.png" class="logo-empresa" />
            <h3>55 11 98981-7362*</h3>
            <a href="https://api.whatsapp.com/send?phone=5511989817362&text=Sr(a)%20Cliente%20FIS%2C%20entre%20em%20contato%20para%20tratarmos%20de%20seu%20cartao%20via%20Whatsapp%20no%20numero%2011%2098981-7362" title="" class="btn-whatsapp" target="_blank">Whatsapp</a>
            <small>

                *Número exclusivo para <br>
                atendimento por whatsapp
            </small>
        </div> <!-- box whatsapp # bradescard -->
    </div> <!-- container -->
</section> <!-- renegociar pelo whatsapp -->