<section id="clientes" class="scroll-secao">
    <div class="container">
        <h1>
            Grandes empresas que <br>
            confiam em nosso trabalho
        </h1>
        <ul>
            <li><img src="images/clientes/algar.jpg" alt="" title="" /></li>
            <li><img src="images/clientes/bradesco.jpg" alt="" title="" /></li>
            <li><img src="images/clientes/genpact.jpg" alt="" title="" /></li>
            <li><img src="images/clientes/fis.jpg" alt="" title="" /></li>
            <li><img src="images/clientes/gramercy.jpg" alt="" title="" /></li>
            <li><img src="images/clientes/universidade-anhembi-morumbi.jpg" alt="" title="" /></li>
            <li><img src="images/clientes/telecheque.jpg" alt="" title="" /></li>
            <li><img src="images/clientes/virtualconnection.jpg" alt="" title="" /></li>
            <!--li><img src="images/clientes/pepsico.jpg" alt="" title="" /></li-->
            <li><img src="images/clientes/simplic.jpg" alt="" title="" /></li>
            <li><img src="images/clientes/multiloja.jpg" alt="" title="" /></li>
            <li><img src="images/clientes/lideranca.jpg" alt="" title="" /></li>
            <li><img src="images/clientes/callink.jpg" alt="" title="" /></li>
            <li><img src="images/clientes/salesimpact.jpg" alt="" title="" /></li>
            <li><img src="images/clientes/grupo-empz.jpg" alt="" title="" /></li>
        </ul>
    </div> <!-- container -->
</section> <!-- clientes -->