<section id="pg-trabalhe-conosco" class="scroll-secao">
    <div class="container">
        <div class="left">
            <div class="intro">
                <h1>Trabalhe Conosco</h1>
                <h3>Conheça os benefícios de ser um colaborador FMC e venha fazer parte da nossa equipe.</h3>
                <h2>Valorização</h2>
                <p>
                    Acreditamos que a satisfação de nossos colaboradores reflete positivamente em seu trabalho e,
                    consequentemente, no sucesso de nossa empresa. Temos como premissas: <br /><br />

                    &bull; Transparência  nos relacionamentos internos e externos; <br />
                    &bull; Respeito e valorização no desenvolvimento das pessoas; <br />
                    &bull; Respeito à dignidade e diversidade das pessoas. <br /><br />
                    Assim, construímos um ambiente de trabalho pautado no respeito e na valorização de cada um. <br /> <br />
                </p>
                <h2>Programa de Desenvolvimento de Habilidades</h2>
                <p>
                    Temos também o PDH (Programa de Desenvolvimento de Habilidades), que tem por finalidade identificar talentos nas
                    operações da FMC. Para estes profissionais é oferecida a oportunidade de crescimento pessoal e aprimoramento de suas
                    competências e habilidades, para que estes recursos possam ser utilizados em áreas específicas, de acordo com as
                    necessidades da empresa. <br /><br />
                </p>
            </div> <!-- intro -->
        </div> <!-- left -->
        <div class="right">
            <div class="box">
                <h2>Vagas</h2>
                <p>
                    Cadastre aqui seu currículo e venha fazer parte da nossa empresa. <br />
                    <a href="@Url.Action("Cadastrar-Curriculo","Trabalhe-Conosco")" class="cadastre-se">Cadastre-se Aqui</a>
                </p>
            </div>
        </div> <!-- right -->
        <div class="clearfix"></div>
    </div> <!-- container -->
</section> <!-- pg contato -->