<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DB_FMCEntities" connectionString="metadata=res://*/Model.DB_FMC.csdl|res://*/Model.DB_FMC.ssdl|res://*/Model.DB_FMC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.20;initial catalog=DB_FMC;persist security info=True;user id=automator;password=fmc;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>