@model IEnumerable<object>
@using Microsoft.AspNetCore.Http
@{
    FMC.Shortener.Models.Login login = (FMC.Shortener.Models.Login)Model.ElementAt(0);
Layout = "_Admin";
}
<div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
    <ul class="u-list-inline g-color-gray-dark-v6">

        <li class="list-inline-item g-mr-10">
            <a class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="#!">Dashboard</a>
            <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
        </li>

        <li class="list-inline-item">
            <span class="g-valign-middle">Alterar Senha</span>
        </li>
    </ul>
</div>


<div class="g-pa-20">

    <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-28">Alterar Senha</h1>

    <div class="row">
        @if (ViewBag.Message != null)
        {
            string type = ViewBag.Message.Contains("Ok") ? "noty_type__success" : "noty_type__error";
            <div class="col-md-12">
                <div class="noty_bar @type noty_type__success noty_theme__unify--v1 noty_close_with_click noty_close_with_button g-mb-25">
                    <div class="noty_body">
                        <div class="g-mr-20">
                            <div class="noty_body__icon">
                                <i class="hs-admin-alert"></i>
                            </div>
                        </div>

                        <div>@Html.Raw(ViewBag.Message)</div>
                    </div>

                    <div class="noty_close_button">×</div>
                </div>
            </div>
        }
        <!-- Alterar Senha -->
        <div class="col-md-12">
            <form id="form-submit" novalidate asp-action="AlterarSenha">
                <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
                    <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">Digite a nova senha</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="g-font-size-11">
                                A senha precisa ter no mínimo:<br /><br />
                                &bull; 1 Letra Maiúscula;<br />
                                &bull; 1 Caractere Especial;<br />
                                &bull; 1 Número;
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            
                            <div class="form-group">
                                <label class="g-mb-5" asp-for="@login.Password">Nova Senha</label>
                                <div class="g-pos-rel">
                                    <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                        <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                                    </span>
                                    <span class="icon-loading"><i class="hs-admin-reload fa-refresh g-font-size-16 g-color-secondary fa-spin g-absolute-centered"></i></span>
                                    <input asp-for="@login.Password" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10 password" type="password" >
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="media g-mt-25">
                                <div class="media-body align-self-center text-left">
                                    <button class="btn btn-xl u-btn-primary g-width-160--md g-font-size-default g-ml-10 btn-search">Alterar Senha</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- End Alterar Senha-->
        
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.noty_close_button').click(function () {
                $('.noty_bar').hide();
            });
            $('input.mask-cpf').mask('000.000.000-00');
            
            $('#form-submit input').on('change', function (e) {
                if ($(this).val().length > 0) {
                    $('.g-pos-abs', $(this).closest('.g-pos-rel')).removeClass('opacity-0');
                } else {
                    $('.g-pos-abs', $(this).closest('.g-pos-rel')).addClass('opacity-0');
                }
            });

            $('#form-submit .btn-search').click(function () {
                if ($('input.password').val().length > 0) {
                    $('.icon-loading').fadeIn(300);
                } else {
                    $('.icon-loading').fadeOut(300);
                }
            });
        });
    </script>
}
