@model Login
@{ 
    //Layout = "_LayoutFis";
}
<section id="pg-shortener" class="scroll-secao fis-login">
    <div class="container">
        <div class="shortener-logo">
            <img src="~/images/topo/logo-fmc.png" alt="FMC" />
        </div>
    </div> <!-- container -->
</section>