<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FMC.Automator.DistribuicaoDesk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <FMC.Automator.DistribuicaoDesk.Properties.Settings>
      <setting name="SERVER_TN3270" serializeAs="String">
        <value>10.40.0.200</value>
      </setting>
    </FMC.Automator.DistribuicaoDesk.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DB_FMCEntities" connectionString="metadata=res://*/Model.DB_FMC.csdl|res://*/Model.DB_FMC.ssdl|res://*/Model.DB_FMC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.20;initial catalog=DB_FMC;user id=automator;password=fmc;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DB_DIALEREntitiesForSystems" connectionString="metadata=res://*/Model.DBDialerSystems.csdl|res://*/Model.DBDialerSystems.ssdl|res://*/Model.DBDialerSystems.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.40.0.12;initial catalog=DB_DIALER;persist security info=True;user id=navigator;password=n@vigat0r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="RCP_PROGRAMA_A" value="300,508,601,612,617"/>
    <add key="RCP_PROGRAMA_A_5000" value="255"/>
    <add key="RCP_PROGRAMA_B" value="276"/>
    <add key="GRCC_PROGRAMA_A" value="117,277,405,610,611,629"/>
    <add key="GRCC_PROGRAMA_B" value="117,277,405,610,611,629"/>
    <add key="GRCC_PROGRAMA_C" value="102,130,138,214,253,605,618"/>

    <add key="SERVER_TN3270" value="10.40.0.200"/>
    <add key ="PASS_SEND_MAIL" value="oc049pz34"/>
    <add key ="USER_SEND_MAIL" value="creditocobranca@fmcdatacom.com.br"/>
    <add key="SMTP_SERVER" value="mail.fmcudi.com.br"/>
    <add key="SMTP_PORT" value="587"/>
    <add key="MAIL_SUCCESS" value="rogerio@treynet.com.br,renan.oliveira@fmcbrasil.com.br"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
