<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<connectionStrings>

	</connectionStrings>
	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>System</value>
			</setting>
			<setting name="DefaultAppSkin" serializeAs="String">
				<value>Skin/The Bezier</value>
			</setting>
			<setting name="DefaultPalette" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="TouchUI" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="CompactUI" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="TouchScaleFactor" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="DirectX" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="RegisterUserSkins" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="FontBehavior" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="DefaultAppFont" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="CustomPaletteCollection" serializeAs="Xml">
				<value/>
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<appSettings>
		<add key="Url_FIS_API" value="https://servicesfis.fmcbrasil.com.br/fis/api"/>
		<!--<add key="Url_FIS_API" value="http://localhost:5831/api"/>-->
		<add key="PRODUCT_TYPE" value="1"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
			</provider>
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.17.0" newVersion="8.0.17.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NReco.PdfGenerator" publicKeyToken="231663d50a41b451" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.15.0" newVersion="1.1.15.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="AtendeClienteServiceSoapBinding">
					<security mode="Transport"/>
				</binding>
				<binding name="AtendeClienteServiceSoapBinding1"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="WSCorreios.AtendeCliente" name="AtendeClientePort"/>
		</client>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="2147483647"/>
		</connectionManagement>
	</system.net>
</configuration>