<section id="servicos" class="scroll-secao">
    <header class="chamada">
        <div class="container">
            <h1>Serviços</h1>
        </div> <!-- container -->
    </header> <!-- chamada -->
    <div class="conteudo container">
        <p class="first">
            Visando proporcionar aos nossos clientes as melhores soluções em tecnologia e prestação de serviços, <br>
            oferecemos diferentes serviços para atender às necessidades específicas de cada negócio.
        </p>
        <div class="infraestrutura">
            <h2>FMC Infraestrutura</h2>
            <p>
                Disponibilizamos posições de atendimento (PAs) com excelente infraestrutura física e tecnológica para <br>
                locação. A FMC Infraestrutura conta com 810 PAs em Uberlândia - MG e 489 PAs em São Paulo - SP. Seguimos <br>
                todas as normas regulamentadoras necessárias para o perfeito funcionamento dos serviços de contact <br>
                center, garantindo qualidade ao atendimento e conforto e bem-estar aos colaboradores.
            </p>
        </div> <!-- infraestrutura -->
        <div class="cobranca">
            <h2>FMC Cobrança</h2>
            <p>
                Também trabalhamos com prestação de serviços em Gestão e Recuperação de Crédito e Cobrança, Central <br>
                de Atendimento e BackOffice e Compra de Carteiras (LPL).
            </p>
            <p>
                A FMC Cobrança é especializada em atender todo o ciclo de recuperação de crédito com tecnologia e <br>
                inovação, atuando junto aos seus clientes no combate da inadimplência e em favor das pessoas que desejam <br>
                recuperar sua dignidade por meio do cumprimento de suas obrigações financeiras.
            </p>
            <p>
                Oferecemos uma estrutura completa para realizar o Serviço de Atendimento ao Consumidor (SAC) com o <br>
                objetivo de incentivar o relacionamento e a efetivação de renegociações de dívidas de forma agradável, clara <br>
                e acessível. Nosso atendimento visa estreitar o relacionamento da empresa e cliente, de forma a esclarecer <br>
                dúvidas, receber sugestões, elogios, reclamações e solicitações, garantindo a satisfação e qualidade do <br>
                atendimento prestado aos clientes finais.
            </p>
        </div> <!-- cobranca -->
        <div class="certificacoes-e-tecnologias">
            <h2>Nossas Certificações e Tecnologias:</h2>
            <img src="images/servicos/logos/3m.jpg" alt="" title="" />
            <img src="images/servicos/logos/cisco.jpg" alt="" title="" />
            <img src="images/servicos/logos/delta.jpg" alt="" title="" />
            <img src="images/servicos/logos/furukawa.jpg" alt="" title="" />
            <img src="images/servicos/logos/ibm.jpg" alt="" title="" />
            <img src="images/servicos/logos/windows-server.jpg" alt="" title="" />
            <img src="images/servicos/logos/ibm-system.jpg" alt="" title="" />
            <img src="images/servicos/logos/itil.jpg" alt="" title="" />
            <img src="images/servicos/logos/linux.jpg" alt="" title="" />
            <img src="images/servicos/logos/redhat.jpg" alt="" title="" />
            <img src="images/servicos/logos/stemac.jpg" alt="" title="" />
            <img src="images/servicos/logos/vmware.jpg" alt="" title="" />
        </div> <!-- certificacoes e tecnologias -->
    </div> <!-- conteudo -->
</section> <!-- servicos -->