<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
    </sectionGroup>
  </configSections>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="KEY_GOOGLE_MAPS" value="AIzaSyDNQ2zh5zS8Kx-Zw8e6fUVZ8WtKvhgwKAE" />
    <add key="VALUE_ENTRANCE_PARCEL" value="30" />
    <add key="PERCENTAGE_ENTRANCE_PARCEL" value="15" />
    <add key="PERCENTAGE_ENTRANCE_NACC_PEP" value="25" />
    <add key="PERCENTAGE_ENTRANCE_NACC" value="25" />
    <add key="PERCENTAGE_DISCOUNT_NACC_PARCELED" value="90" />
    <add key="PERCENTAGE_DISCOUNT_NACC_CASH" value="95" />
    <add key="PERCENTAGE_DISCOUNT_NACC_PARCELED_ENO" value="95" />
    <add key="PERCENTAGE_DISCOUNT_NACC_CASH_ENO" value="95" />
    <add key="PERCENTAGE_DISCOUNT_NACC_PARCELED_MMN" value="80" />
    <add key="PERCENTAGE_DISCOUNT_NACC_CASH_MMN" value="80" />
    
    <add key="JUROS_AVISTA_IBI" value="1" />

    <add key="COD_USER_NACC" value="WSF" />
    <add key="ID_USER_NACC" value="2153" />
    <add key="USER_EMAIL" value="fmcbrasil@fmccobranca.com.br" />
    <add key="PASS_EMAIL" value="!!M4il+rooT@!" />
    <add key="HOST" value="mail.fmccobranca.com.br"/>
    <add key="PORT_HOST" value="587"/>
    <add key="DESTINATARIO_EMAIL_UBERLANDIA" value="rhudi@fmcbrasil.com.br" />
    <add key="DESTINATARIO_EMAIL_SP" value="aline.menezes@fmcbrasil.com.br" />
    <add key="DESTINATARIO_EMAIL_FALECONOSCO" value="sac.web@fmcbrasil.com.br;rhudi@fmcbrasil.com.br" />
    <add key="DESTINATARIO_EMAIL_COMERCIAL" value="eduardo.araujo@fmcbrasil.com.br" />
    <add key="DESTINATARIO_EMAIL_RECRUTAMENTO" value="rhudi@fmcbrasil.com.br" />
    <add key="DESTINATARIO_EMAIL_RECRUTAMENTO_SP" value="gabriela.silva@fmcbrasil.com.br" />
    <add key="DESTINATARIO_EMAIL_BRADESCARD" value="pagamentos.bradescard@fmccobranca.com.br" />
    <add key="DESTINATARIO_EMAIL_BRADESCO" value="atendimento@fmcatendimento.com.br" />
    <add key="DESTINATARIO_EMAIL_PEPSICO" value="atendimento@fmcatendimento.com.br" />
    <add key="DESTINATARIO_EMAIL_SIMPLIC" value="atendimento@fmcatendimento.com.br" />
    <add key="DESTINATARIO_EMAIL_MULTILOJA" value="atendimento@fmcatendimento.com.br" />
    <add key="DESTINATARIO_EMAIL_DIVERSOS" value="atendimento@fmcatendimento.com.br" />

    <add key="PHONE_WHATSAPP_UBERLANDIA" value="11 99292 7561, 11 99290 4413, 11 99292 7991, 11 99293 3238, 11 99292 2678" />

    <add key="ReCaptcha:SiteKey" value="6Ld38K8ZAAAAAFg89VPHK-B8gHhIwL5GgT_qf43H" />
    <add key="ReCaptcha:SecretKey" value="6Ld38K8ZAAAAALo0jTpERYcXzCm9ebFrwhIueUsF" />
    <add key ="ReCaptcha:VerifyAPI" value="https://www.google.com/recaptcha/api/siteverify"/>
    
    <add key ="AgeRedirect" value="0"/>
    <add key ="EnableNacc" value="true"/>
    <add key ="EnableIbi" value="true"/>
    
    <add key ="MIN_PROMISSE" value="1"/>
    <add key ="MAX_PROMISSE" value="35"/>
    <add key ="MIX_PROMISSE_AGREEMENT" value="55"/>
    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
<system.web>
  <customErrors mode="On"/>
</system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="2147483647"/>
    </connectionManagement>
  </system.net>
</configuration>