<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
		</sectionGroup>
	</configSections>
	<runtime>
		<gcServer enabled="true"/>
	</runtime>
	<appSettings>
		<add key="KEY_GOOGLE_MAPS" value="AIzaSyDNQ2zh5zS8Kx-Zw8e6fUVZ8WtKvhgwKAE" />
		<add key="PERCENTAGE_ENTRANCE_PARCEL" value="15" />
		<add key="VALUE_ENTRANCE_PARCEL" value="50" />

		<add key="JUROS_AVISTA_IBI" value="1" />
		<add key="DESCONTO" value="80" />

		<add key="COD_USER_NACC" value="WSF" />
		<add key="USER_EMAIL" value="fmcbrasil@fmccobranca.com.br" />
		<add key="PASS_EMAIL" value="!!FMC+rooT@!" />
		<add key="HOST" value="mail.fmccobranca.com.br"/>
		<add key="PORT_HOST" value="587"/>

		<add key="ReCaptcha:SiteKey" value="6LdsjH8bAAAAAC248VJtwh_h_x1cinRmeUzIFqc4" />
		<add key="ReCaptcha:SecretKey" value="6LdsjH8bAAAAAGsMQbzSPt678DaxxV34VXgEbxzJ" />
		<add key ="ReCaptcha:VerifyAPI" value="https://www.google.com/recaptcha/api/siteverify"/>
		<add key ="HOUR_INITIAL" value="00:30"/>
		<add key ="HOUR_FINAL" value="22:00"/>

		<add key="DAYS_INPUT_CASH_AGREEMENT" value="15"/>
		<add key ="MIN_PROMISSE" value="1"/>
		<add key ="MAX_PROMISSE" value="58"/>

		<add key ="URL_API_FIS" value="https://10.40.0.30/credz/api"/>
		<add key ="URL_API_AFINZ" value="https://10.40.0.30/credz/api"/>
		<!--<add key ="URL_API_AFINZ" value="https://ws.apifmcbrasil.com.br/credz/api"/>-->

	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
	<system.web>
		<customErrors mode="On"/>
	</system.web>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="2147483647"/>
		</connectionManagement>
	</system.net>
</configuration>