@model IEnumerable<object>
@using Microsoft.AspNetCore.Http
@{
    Layout = "_Layout";
}
<section id="clientes" class="scroll-secao">
    <div class="container">
        <h1>
            FAQ
        </h1>
        <div>
            <h3>
                Qual o objetivo do portal de cobrança pagueonlinebra?
            </h3>
            <p>
                O portal foi desenvolvido pela empresa FMC Brasil sendo uma opção de canal de negociação dos Cartões Bradesco, BradesCard e Cartões American Express, que tem como objetivo facilitar a renegociação de dívida de seus clientes.
            </p>
            <h3>
                A empresa FMC Brasil tem autorização para realizar a negociação para o Bradesco?
            </h3>
            <p>
                Sim. A FMC Brasil é um fornecedor homologado pelo Bradesco e possuem contrato para realizar a prestação de serviço de cobrança. Você pode conferir a autenticidade da empresa clicando aqui (colocar o link abaixo). https://banco.bradesco/assets/common/pdf/Empresas-Credenciadas-de-Cobranca-Amigavel.pdf#page=5
            </p>
            <h3>
                Qual o prazo para processamento da negociação realizado no portal?
            </h3>
            <p>
                O prazo para que a negociação seja efetivada será em até 3 dias uteis nos sistemas do Banco.
            </p>
            <h3>
                Qual o prazo para reabilitação do CPF/CNPJ?
            </h3>
            <p>O prazo para que o CPF/CNPJ seja reabilitado junto aos órgãos de proteção ao crédito (SPC/Serasa) são 5 dias uteis.</p>
            <h3>
                Após o acordo efetivado, como terei acesso ao boleto ou linha digitável?
            </h3>
            <p>
                O seu boleto será enviado através dos Correios para o endereço que foi atualizado conosco. Além disso, para maior comodidade encaminharemos ele por SMS/E-mail que nos foi fornecido até 3 dias antes do vencimento.
            </p>
            <h3>
                Qual o prazo para o pagamento constar no portal?
            </h3>
            <p>
                Não será exibido o histórico de pagamentos no portal. Se necessário você pode entrar em contato com a Central de Atendimento.
            </p>
            <h3>
                Qual o Telefone da Central?
            </h3>
            <p>
                O telefone da Central de Atendimento é 4003-4033 (Capitais e regiões metropolitanas) 0800 880 4033 (Demais regiões).
            </p>
            <h3>
                Qual o horário de atendimento da nossa Central?
            </h3>
            <p>
                O Horário de atendimento é de segunda a sexta das 08hrs às 20hrs e sábado das 08hrs às 14hrs.
            </p>
            <h3>
                Quero alterar a data de pagamento do boleto como proceder?
            </h3>
            <p>
                Após a renegociação de dívida (à vista ou parcelado) não será possível a alteração de data de vencimento.
            </p>
            <h3>
                Após a quitação do Acordo, como faço para obter outro cartão?
            </h3>
            <p>
                Após a quitação do acordo, caso o cliente tenha o interesse em obter outro cartão, o mesmo deverá entrar em contato com a central de atendimento ao cliente (Fone Fácil) 4002-0022 ou 0800.570.0022 ou pelo site www.bradescocartoes.com.br para uma nova análise de proposta de adesão.
            </p>
        </div>
    </div> <!-- container -->
</section> <!-- clientes -->